main {
    background-color: hsl(207, 26%, 17%);
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    transition: all .4s ease;
}

main.light{
  color: hsl(200, 15%, 8%);
  background-color: hsl(0, 0%, 98%);
  transition: all .4s ease;
}

.action-container{
    width: 100%;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 37%;
}

.search-container{
    display: flex;
    align-items: center;
    background-color: hsl(209, 23%, 22%);
    width: 30%;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: all .4s ease;
}

.search-container.light {
  background-color: hsl(0, 0%, 100%);
  transition: all .4s ease;
}

#search, #search::placeholder{
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    color: white;
    padding: 0 5px;
    font-family: 'Nunito Sans', sans-serif;
}

#search.light::placeholder{
  color: hsl(200, 15%, 8%);
}

#search-icon{
    font-size: 1.4rem;
}

.filter-container select{
    display: none;
    width: 300px;
}

#country{
    position: relative;
    font-family: 'Nunito Sans', sans-serif;
}

.select-selected{
    background-color: hsl(209, 23%, 22%);
    border-radius: 5px;
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: all .4s ease;
}

.select-selected.light, .select-items.light{
  background-color: hsl(0, 0%, 100%);
  transition: all .4s ease;
}

.select-items div, .select-selected{
    color: white;
    padding: 1rem 2rem;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0,0,0,.1) transparent;
    cursor: pointer;
}

.select-items.light div, .select-selected.light{
    color: hsl(200, 15%, 8%);
}

.select-items{
    position: absolute;
    background-color: hsl(209, 23%, 22%);
    width: 190px;
    top: 18%;
    z-index: 99;
    border-radius: 5px;
}

.select-hide{
    display: none;
}

.select-items div:hover, .same-as-selected{
    background-color: rgba(0,0,0,.1);
}

.gallery-container{
    width: 100%;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.loading-container{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis.light div{
    background-color: hsl(200, 15%, 8%);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }




  @media only screen and (max-width: 768px){
    .action-container{
      display: flex;
      flex-direction: column;
      gap: 2rem;
      width: 100%;
    }

    .search-container{
      width: 90%;
    }

    .select-items{
      top: 30%;
    }
  }